<html>
  <body>
    <p>
      Here you can see the list of activists. There are currently <%= @number_of_users %> activists subscribed. 
    </p>
    <p>
      Here you can see your user_id:<b> <%= @thing %> </b>
    </p>


    <h1> Here is the list of activists subscirbed </h1>
    
    <% if @activists.any? %>
      <ol>
        <% @activists.each do |activ| %>
          <li><%= activ %></li>
        <% end %>
      </ol>
    <% end %>

    <p>
      Please sign-up <a href="/signup">here:</a>
    </p>

    <p>
      Check <a href="/dogs">THIS:</a> out!!!
    </p>



  </body>
</html>